[Unit]
Description=Forge IDE UI
After=network.target

[Service]
Type=simple
User=levent
WorkingDirectory=/home/levent/FORGE_IDE
# Tam olarak 'which bun' komutundan dönen yolu kullanıyoruz
ExecStart=/usr/local/bin/bun run dev --host
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target


